<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вопрос {{ question_num }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="progress-container">
            <div class="progress-bar" style="width: {{ progress }}%"></div>
        </div>
        <div class="progress-text">{{ progress | round(0) }}%</div>

        <div class="question-counter">
            Вопрос {{ question_num }} из {{ total_questions }}
        </div>
        
        <form method="POST" class="question-form" id="questionForm">
            <div class="question-card">
            <div class="question-card-p">
                <h2>{{ question }}</h2>
            </div>
                <div class="options">
                    <button type="submit" name="answer" value="yes" class="btn">Да</button>
                    <button type="submit" name="answer" value="sometimes" class="btn">Иногда</button>
                    <button type="submit" name="answer" value="no" class="btn">Нет</button>
                </div>
            </div>
        </form>
        
        <form method="POST" class="back-form">
            <input type="hidden" name="back" value="true">
            <input type="hidden" name="last_answer" value="{{ last_answer }}">
            <button type="submit" class="btn" style="background-color: #95a5a6;">Назад</button>
        </form>
        
    </div>

    <script>
        function submitForm() {
            document.getElementById('questionForm').submit();
        }
    </script>
</body>
</html>